body {
    background-image: url("https://www.claypaky.it/media/news/images/clay_paky_saves_rock_and_roll_on_fall_out_boy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

